$primary-color: #f25421;
$secondary-color: #272727;
$primary-gradient: linear-gradient(90deg, #f25421, #ff8c00, #ffd700);
$background-color: #272727;
$text-color: #ffffff;
$dark-color: #272727;
$box-shadow: 0 2rem 3rem var($dark-color);
$btn-color: #f25421;


$spacing-extra-small: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;
$font-size-xlarge: 22px; 

// 🎭 Bordes y sombras
$border-radius: 8px;
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

$desktop: 768px;
$laptop: 1024px;
$xl: 1440px;
