

$secondary-color: #272727;
$primary-color: linear-gradient(90deg, #f25421, #ff8c00, #ffd700);
$background-color: #272727;
$text-color: #ffffff;

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

$border-radius: 8px;
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
